
<script>
window.map;
 var geocoder;
function initialize() {
   geocoder = new google.maps.Geocoder();
  var myLatlng = new google.maps.LatLng(42.35619718606788, -71.06025695800781);
  var mapOptions = {
    zoom: 16,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
   window.map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


<% @posts.each do |post| %>

 var marker =  new google.maps.Marker({
      position: new google.maps.LatLng(<%= post.latitude.to_f %>, <%= post.longitude.to_f %>),
        map: map,
        icon:'/pin.svg',
        clickable: true,
        title: " <%= post.report_title %> "
      });

  var labelText = " <a href='/posts/<%=post.id %>'> <%= post.report_title %> </a> ";
  var myOptions = {
  content: labelText
      ,boxStyle: {
        border: "1px solid black"
          ,background: "white"
          ,textAlign: "center"
          ,fontSize: "8pt"
          ,width: "86px"  // has to be set manually
          ,opacity: 1.0
          }
      ,disableAutoPan: true
      ,pixelOffset: new google.maps.Size(-43, -50) // set manually
      ,position: marker.getPosition()
      ,closeBoxURL: ""
      ,pane: "floatPane"
       ,enableEventPropagation: true
      };

        var ibLabel = new InfoBox(myOptions);
        ibLabel.open(map);
  

<% end %>






}
function codeAddress(map) {
  var address = document.getElementById('address').value;
  console.log(address);
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      window.map.setCenter(results[0].geometry.location);

    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }

  });
 
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>



<div id="map-canvas"/></div>


<script>

</script>
